* {
    box-sizing: border-box;
}
.main-title {
    color: black;
}
.artists-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    background: rgba(224, 157, 170, 0.307);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-around;
    padding: 15px;
    position: relative;
}
.prem {
    background: rgba(255, 255, 255, 0.401);
    border-radius: 7px;
    font-size: 700;
    color: rgb(119, 0, 0);
    text-transform: uppercase;
}

.artist-card {
    width: 200px;
    max-height: 400px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 7px;
    align-content: center;
}
.artist-card:hover {
    background: rgba(155, 77, 203, 0.171);
    border-radius: 8px;
}

.artist-info {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.401);
    flex-grow: 1;
}

.artist-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
